<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<array>
		<string>$(API_KEY1)</string>
		<string>$(API_KEY2)</string>
		<string>$(API_KEY3)</string>
		<string>$(API_KEY4)</string>
		<string>$(API_KEY5)</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SF Pro Display Black.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
